.block {
  position: relative;
  z-index: 1;
  border: 1px solid hsl(var(--primary));
  border-radius: 12px;
  padding: 8px 0;
  cursor: pointer;
}

.block:hover {
  background-color: hsl(var(--primary));
}

.active {
  position: absolute;
  top: 0;
  left: 0;
  background-color: hsl(var(--primary));
  border-radius: 12px;
  height: 100%;
  margin-left: 1px;
  width: 49.8%;
  transition: left 0.2s ease-out;
}

.active p {
  color: white;
}

.block:nth-child(1):hover ~ .active {
  left: 0;
}
.block:nth-child(2):hover ~ .active {
  left: 480px;
}
